on:
  schedule:
    # run every day at 11 PM
    - cron: '0 23 * * *'
jobs:
  build:
    runs-on: macOS-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@master
      - name: Setup R
        uses: r-lib/actions/setup-r@master
      - name: Install pandoc
        run: brew install pandoc
      - name: Install XQuartz
        run: brew cask install xquartz
      - name: Cache Renv
        uses: actions/cache@v1
        with:
          path: $HOME/.local/share/renv
          key: r-${{ hashFiles('renv.lock') }}
          restore-keys: r-
      - name: Install packages
        run: |
          R -e 'install.packages("renv")'
          R -e 'renv::restore()'
      - name: Install hugo
        run: |
          R -e 'blogdown::install_hugo(version = "0.58.2", use_brew = FALSE)'
      - name: Build site
        run: |
          # We need to update the timestamps so this is re-built
          touch content/home/demo.Rmd
          R -e 'blogdown::build_site(TRUE)'
      - name: Install npm
        uses: actions/setup-node@v1
      - name: Deploy to Netlify
        # NETLIFY_AUTH_TOKEN added in the repo's secrets
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        run: |
          npm install netlify-cli@2.23.0 -g
          netlify deploy --prod
